@import "../../Responsive.module.scss";
.nav {
  width: 100%;
  height: 50px;
  position: sticky;
  background-color: rgba(233, 232, 232);
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  & > a {
    color: #000;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

    &__logo {
      justify-self: start;
      font-size: 20px;
      cursor: pointer;
      color: #000;
      & > i {
        margin-left: 6px;
        color: #333;
      }
      @include tablet {
        font-size: 16px;
      }
      @include small-tablet {
        margin: 0 20px;
      }
    }
    &__icon {
      display: none;
      width: 20px;
      height: 20px;
      cursor: pointer;
      & > i {
        font-size: 20px;
      }
      @include mobile {
        display: block;
      }
      @include small-tablet {
        display: block;
      }
    }

    &__menu {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-gap: 30px;
      text-align: center;
      justify-content: center;
      width: 60vw;
      margin: 0 20px;

      &__link {
        font-size: 20px;
        padding: 40px 0;
        color: #000;
      }
      @include mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -110%;
        right: 0;
        top: 50px;
        width: 100%;
        padding: 10px 0;
        background-color: rgba(233, 232, 232);
        opacity: 1;

        &__active {
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 0;
          right: 0;
          top: 50px;
          width: 100%;
          height: 400px;
          padding: 10px 0;
          background-color: rgba(233, 232, 232);
          text-align: center;
          transition: all 0.3s ease;
        }
        &__link {
          display: table;
          padding: 20px;
          width: 100%;
        }
      }
      @include tablet {
        grid-gap: 20px;
        width: 50vw;
      }
      @include small-tablet {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -110%;
        right: 0;
        top: 50px;
        width: 100%;
        padding: 10px 0;
        background-color: rgba(233, 232, 232);
        opacity: 1;

        &__active {
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 0;
          right: 0;
          top: 50px;
          width: 100%;
          height: 44vh;
          padding: 10px 0;
          background-color: rgba(233, 232, 232);
          text-align: center;
          transition: all 0.3s liner;
        }
        &__link {
          display: table;
          padding: 28px;
          width: 100%;
        }
      }
    }
    &__user {
      margin-right: 10px;
      cursor: pointer;
      transition: all 0.3s linear;
      display: flex;
      align-items: center;
      & > img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        margin-right: 8px;
        object-fit: cover;
      }
      & > span {
        margin-right: 4px;
      }

      & > i {
        margin-right: 10px;
      }
      &__option {
        &::after {
          content: "";
          display: block;
          background-color: transparent;
          width: 100%;
          height: 10px;
          position: absolute;
          top: -10px;
        }
        display: none;
        position: absolute;
        top: 50px;
        right: 40px;
        background-color: #fff;
        width: 200px;
        box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px 0px;
        padding: 10px 0;
        & > li {
          padding: 8px 8px;
          & > a {
            color: #000;
          }
          &:hover {
            background-color: rgba(233, 232, 232);
          }
        }
      }
      &:hover &__option {
        display: block;
      }
      &__null {
        display: flex;
        margin: 0 20px 0 0;
        & > li > a {
          color: #000;
        }
        font-size: 20px;
        & > li ~ li {
          margin-left: 20px;
        }
      }
      @include mobile {
        display: none;
      }
      @include small-tablet {
        margin-left: 150px;
      }
    }
    &__cart {
      cursor: pointer;
      & > a {
        color: #000;
      }
      & > i {
        font-size: 20px;
        margin: 0 10px;
      }
      @include mobile {
        margin: unset;
      }
    }
    @include mobile {
      justify-content: space-around;
    }
    @include small-tablet {
      justify-content: space-between;
    }
  }
}
