.form_submit {
  overflow: hidden;
  background: transparent;
  cursor: pointer;
  transition: all 1s ease;
  position: relative;
  display: inline-block;
  background: #f75454;
  color: #fff;
  &:hover {
    background: #f75454;
    color: #fff;
  }
  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 2.5s ease-in-out infinite;
  }
  &:active {
    box-shadow: 4px 4px 6px 0 rgba(238, 11, 11, 0.4),
      -4px -4px 6px 0 rgba(185, 21, 21, 0.2),
      inset -4px -4px 6px 0 rgba(223, 217, 217, 0.2),
      inset 4px 4px 6px 0 rgba(243, 4, 4, 0.5);
  }
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
