@media only screen and (min-width: 1023px) {
  .homepage-product:hover .homepage-product-item_content {
    transform: translateY(-44px);
  }
}

.homePage_button {
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  will-change: transform;
}

.homePage_button:hover {
  background: darken(#181818, 10%);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -2px, 0);
}

.homePage_button::after,
.homePage_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0;
  margin: auto;
}

.homePage_button:before {
  animation: pulse 1.5s infinite linear;
}
.homePage_button:after {
  animation: pulse 2s 0.4s infinite linear;
}
.homePage_button:hover:before,
.homePage_button:hover:after {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
