@media only screen and (min-width: 1023px) {
  .homepage-product:hover .homepage-product-item_content {
    transform: translateY(-44px);
  }
}

.homePage_button {
  transition:  transition: background .3s, transform .3s, box-shadow .3s;
  will-change: transform;
  position: relative;
}

.homePage_button:hover {
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
