@media only screen and (min-width: 1023px) {
  .homepage-product:hover .homepage-product-item_content {
    transform: translateY(-44px);
  }
}

.homePage_button {
  will-change: transform;
}

.homePage_button::after,
.homePage_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0;
  margin: auto;
}

.homePage_button:before {
  animation: pulse 1.5s infinite linear;
}
.homePage_button:after {
  animation: pulse 2s 0.4s infinite linear;
}
.homePage_button:hover:before,
.homePage_button:hover:after {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.homePage_featured-book::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.homePage_featured-book::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.homePage_featured-book::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.homePage_featured-book::-webkit-scrollbar-thumb:hover {
  background: #555;
}
